@font-face {
  font-family: 'Pangram-Regular';
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Pangram-Regular.woff2') format('woff2'), url('./assets/fonts/Pangram-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pangram-Medium';
  font-style: normal;
  font-display: swap;
  src: url('./assets/fonts/Pangram-Medium.woff2') format('woff2'), url('./assets/fonts/Pangram-Medium.woff') format('woff');
}



*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
  --primary-white: rgba(255, 255, 255, 0.8);
}

html {
  width: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  font-family: 'Pangram-Regular';
}

body {
  /* font-family: var(--primary-font); */
  width: 100%;
  background: #ffffff !important;
  height: 100%;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Pangram-Medium';
}

#root {
  width: 100%;
  height: 100%;
}
